select.form-control {
    width: auto;
    display: inline-block;
}

.question-name {
    display: inline-block;
    width: 200px;
}

.submit {
    margin-top: 20px;
}

.detail-question {
    font-weight: 600;
}
